.item
    display: flex
    justify-content: space-between
    margin: 5px
    padding: 5px
    min-width: 300px
.todo
    border: 2px double green
.completed
    border: 2px double red
.checkbox
    text-decoration: line-through
.input
    border: 0px
.inputLineThrough
    text-decoration: line-through